### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
import openai
import pandas as pd
from langchain.llms import OpenAI
import random
import re
from sampling_methods import *
from exploratory_in_context_learning import *

### Data and initializing

In [8]:
biden = pd.read_csv('data/cleaned_tweets_biden.csv', lineterminator='\n').drop(columns=['Unnamed: 0'])
trump = pd.read_csv('data/cleaned_tweets_trump.csv', lineterminator='\n').drop(columns=['Unnamed: 0'])

llm = OpenAI(temperature=0,
             openai_api_key="import openai"
             )

Sample 10 users with 20 tweets each (10 * 20 tweets for Biden and Trump respectively)

In [29]:
biden_users = sample_user(biden, 10)
trump_users = sample_user(trump, 10)
biden_tweets = sample_tweet_group(biden, biden_users).assign(hashtag='biden')
trump_tweets = sample_tweet_group(trump, trump_users).assign(hashtag='trump')
df = pd.concat([biden_tweets, trump_tweets])
df.head()

,user_id,cleaned_tweets,hashtag
208075,1.864362e+09,TrumpNowMoreThanEver2020 JoeBidenToCreepyToBe...,biden
198817,1.864362e+09,chrisacorbett cenkuygur JoeBiden TrumpNowMo...,biden
82795,1.864362e+09,Trump StopChildTrafficking JoeBidenToCreepyT...,biden
171618,1.864362e+09,Trump StopChildTrafficking JoeBidenToCreepyT...,biden
207750,1.864362e+09,"Trump, on 'Fox &amp; Friends,' claims 'solid c...",biden

### Prompting

In [16]:
user = df['user_id'].unique()[0]
tweets = df[df['user_id']==user]['cleaned_tweets']

In [17]:
topics = ['abortion being legalized', 'death penalty in the US', 'allowing women to serve in military combat roles']
prompt = prompting(tweets, topics)

### In Context Learning

System Role Prompt:

Your task is to discuss political election questions and provide persuasive answers with supporting reasons. Please engage in a thoughtful and informed discussion, presenting well-reasoned arguments to convince others of your perspective on political issues. Your responses should be clear, concise, and persuasive, addressing the concerns and questions raised about political elections. Consider supporting your arguments with relevant examples, statistics, or expert opinions to strengthen your persuasive approach.  Please note that your responses should be flexible enough to allow for various relevant and creative answers. You should focus on providing well-supported and convincing arguments to persuade others about the importance and significance of political elections in different contexts and scenarios.

##### Single response

In [18]:
result = chat_with_model(prompt)
print(result)

Trump

1

I believe in the sanctity of life and the protection of the unborn. I support policies that promote alternatives to abortion and prioritize the well-being of both the mother and the unborn child.

4

I support the death penalty in certain cases where the crime is heinous and irrefutably proven. It serves as a deterrent and a form of justice for the victims and their families.

5

I strongly agree with allowing women to serve in military combat roles. Women have demonstrated their capability and dedication in various military roles, and they should have the opportunity to contribute to their fullest potential in defending their country.

##### All responses from each user

In [21]:
results = generate_results(df, topics)

In [23]:
parse_results(df, results, len(topics))

         user_id candidate hashtag score_topic_0 score_topic_1 score_topic_2
0   1.864362e+09     trump   biden             1             5             5
1   1.132466e+18     biden   biden             5             1             5
2   2.739945e+09     biden   biden             4             2             5
3   5.937695e+08     biden   biden             5             1             5
4   1.174653e+18     biden   biden             3             4             5
5   2.388516e+09     trump   biden             2             5             5
6   1.006104e+18     biden   biden             5             3             5
7   1.624188e+07     biden   biden             3             2             5
8   1.138512e+09     biden   biden             3             4             5
9   6.118990e+07     biden   biden             4             3             5
10  4.912566e+08     biden   trump             4             2             5
11  1.287706e+18     biden   trump             5             3             5
12  2.972614e+08     biden   trump             5             2             5
13  3.589190e+09     biden   trump             5             3             5
14  1.822711e+07     biden   trump             4             2             5
15  2.447038e+09     biden   trump             3             2             5
16  1.220749e+18     biden   trump             5             3             5
17  1.918813e+07     biden   trump             5             2             5
18  3.303172e+08     trump   trump             1             5             5
19  8.186762e+17     biden   trump             5             2             5

### Running all topics & users

##### Question topics

In [24]:
topics = ["improving LGBTQIA+ rights",
    "increasing gun control",
    "abortion being legalized",
    "the universities practicing affirmative action",
    "climate change in the US is cause for concern",
    "United States needs more paths for citizenship for undocumented immigrants",
    "death penalty",
    "allowing women to serve in military combat roles",
    "legalization of marijuana",
    "reducing interest rates for student loans"]

Sample 100 users with 20 tweets each (100 * 20 tweets for Biden and Trump respectively)

In [30]:
biden_users = sample_user(biden, 50)
trump_users = sample_user(trump, 50)
biden_tweets = sample_tweet_group(biden, biden_users).assign(hashtag='biden')
trump_tweets = sample_tweet_group(trump, trump_users).assign(hashtag='trump')
df = pd.concat([biden_tweets, trump_tweets])
df.head()

,user_id,cleaned_tweets,hashtag
208075,1.864362e+09,TrumpNowMoreThanEver2020 JoeBidenToCreepyToBe...,biden
198817,1.864362e+09,chrisacorbett cenkuygur JoeBiden TrumpNowMo...,biden
82795,1.864362e+09,Trump StopChildTrafficking JoeBidenToCreepyT...,biden
171618,1.864362e+09,Trump StopChildTrafficking JoeBidenToCreepyT...,biden
207750,1.864362e+09,"Trump, on 'Fox &amp; Friends,' claims 'solid c...",biden

In [26]:
results = generate_results(df, topics)

In [27]:
df_results = parse_results(df, results, len(topics))

In [31]:
df_results.head()

,user_id,candidate,hashtag,score_topic_0,score_topic_1,score_topic_2,score_topic_3,score_topic_4,score_topic_5,score_topic_6,score_topic_7,score_topic_8,score_topic_9
0,1.864362e+09,trump,biden,3,4,3,4,5,2,3,5,4,4
1,1.132466e+18,biden,biden,5,5,5,5,5,5,1,5,5,5
2,2.739945e+09,biden,biden,5,4,5,4,5,4,3,5,5,4
3,5.937695e+08,biden,biden,5,5,5,5,5,5,1,5,5,5
4,1.174653e+18,biden,biden,5,5,5,5,5,5,1,5,5,5

Note some N/A appears:

`1.1682808343082844e+18: "I'm sorry, I cannot fulfill this request.",`

In [18]:
df_results[df_results.isna().any(axis=1)]

,user_id,candidate,hashtag,score_topic_0,score_topic_1,score_topic_2,score_topic_3,score_topic_4,score_topic_5,score_topic_6,score_topic_7,score_topic_8,score_topic_9
20,1.261320e+18,N/A,biden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1.168281e+18,N/A,biden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1.315531e+18,trump,biden,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_results.to_csv('data/in_context_responses.csv')